@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, rgb(75, 16, 212), rgb(16, 35, 212));
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid rgb(26, 1, 247);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .3);
}

.el {
  display: flex;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  color: #000;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  border: 2px solid rgb(43, 43, 58);
  border-radius: 4px;
}
.input:focus {
  outline: none;
}

button {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  border: 2px solid rgb(43, 43, 58);
  border-radius: 4px;
  transition: .2s;
  
}
button i {
  position: absolute;
  top: 6px;
  right: 7px;
}
button:hover {
  background: #000;
  color: #fff;
}

.info {
  margin-top: 40px;
  background: lawngreen;
  width: 200px;
  padding: 12px;
  opacity: 0;
  text-align: center;
  transition: .15s;
  animation: slideIn 1.5s linear forwards;
}

